body,
html {
	background-color: #222222;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	overflow-x: hidden
}

body,
h2,
html {
	font-family: Century Gothic, sans-serif;
	color: #ffffff
}

h2 {
	font-weight: 400;
	font-size: 22pt;
	letter-spacing: 2pt
}

p {
	color: #ffffff;
	font-family: Century Gothic, sans-serif
}

.App {
	width: 80vw;
	max-width: 800px;
	display: flex;
	flex-direction: column
}

.github {
	position: fixed;
	top: 0;
	right: 0
}

.navigation {
	margin-top: 50px;
	display: flex;
	width: 100vw
}

.navbutton {
	margin-right: 20px;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid transparent;
	background-color: transparent;
	font-family: Century Gothic, sans-serif;
	color: #ffffff;
	font-size: 15pt;
	letter-spacing: 1pt;
	cursor: pointer
}

.navbutton:hover {
	border-bottom: 1px solid #ffffff
}

.headercontainer {
	margin-top: 100px;
	margin-bottom: 100px;
	box-sizing: border-box;
	width: 100%
}

.title {
	font-family: Century Gothic, sans-serif;
	font-size: 80pt;
	line-height: 69pt;
	letter-spacing: 5pt;
	text-shadow: 0 0 0 rgba(0, 0, 0, .06);
	margin: 0;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer
}

.cdnlinkcontainer {
	background-color: #2f2f2f;
	color: #ffffff;
	padding: 15px 30px;
	border-radius: 5px
}

.flagscontainer {
	width: 100%;
	clear: both
}

.flagsample {
	min-width: 200px;
	max-width: 200px;
	display: flex;
	align-items: center;
	float: left;
	margin-right: 50px;
	margin-bottom: 20px
}

.flag {
	min-width: 60px;
	max-width: 60px;
	height: 40px;
	border-radius: 5px;
	margin-right: 20px
}

.flagname {
	font-weight: 700
}

.stylingsample {
	width: auto;
	height: 150px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px
}

.stylingname {
	color: #efefef;
	text-shadow: 3px 1px #2f2f2f, -1px -1px rgba(47, 47, 47, .19);
	font-family: Century Gothic, sans-serif;
	font-weight: 700;
	font-size: 20pt;
	letter-spacing: 2pt
}